# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
DSD100/
venv/
Spectrograms/
__pycache__/
node_modules/
.next/
deep learning/myenv2/
.env


# Ignore virtual environments
env/
ENV/
venv/
deep learning/env/

# Ignore compiled libraries
*.dylib
*.so
*.dll

# Ignore cache and Python junk
__pycache__/
*.pyc
*.pyo





